## Aufgabe 4
## Import von Bibliotheken

In [8]:
import numpy as np
import pandas as pd
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt
sns.set(context="paper", font="monospace")

## Einlesen der Dateien

In [9]:
df_players = pd.read_csv('data/players.csv', memory_map=True)
df_match_50000 = pd.read_csv('Data/match.csv' ,memory_map=True, nrows=50000)
df_match_500 = pd.read_csv('Data/match.csv' ,memory_map=True, nrows=500)
df_hero_names = pd.read_csv('data/hero_names.csv', memory_map=True  )
# df_chat = pd.read_csv('data/dota-2-matches/chat.csv', memory_map=True)

## Überprüfen auf fehlenden Werte

In [35]:

print ("Na Werte \t" +  str(df_match_50000.isnull().sum()))

Na Werte 	match_id                   0
start_time                 0
duration                   0
tower_status_radiant       0
tower_status_dire          0
barracks_status_dire       0
barracks_status_radiant    0
first_blood_time           0
game_mode                  0
radiant_win                0
negative_votes             0
positive_votes             0
cluster                    0
dtype: int64

In [40]:
print ("Na Werte \t" +  str(df_players.isnull().sum()))
print("\n\nDie NA Werte sind nicht zu bereinigen, mit ihnen muss umgegangen werden.")

Na Werte 	match_id                                  0
account_id                                0
hero_id                                   0
player_slot                               0
gold                                      0
gold_spent                                0
gold_per_min                              0
xp_per_min                                0
kills                                     0
deaths                                    0
assists                                   0
denies                                    0
last_hits                                 0
stuns                                     0
hero_damage                               0
hero_healing                              0
tower_damage                              0
item_0                                    0
item_1                                    0
item_2                                    0
item_3                                    0
item_4                                    0
item_5                                    0
level                                     0
leaver_status                             0
xp_hero                                1883
xp_creep                                 68
xp_roshan                            320438
xp_other                              21036
gold_other                            94897
                                      ...
unit_order_attack_target                105
unit_order_cast_position               2269
unit_order_cast_target                16674
unit_order_cast_target_tree           35712
unit_order_cast_no_target               892
unit_order_cast_toggle               401211
unit_order_hold_position             137277
unit_order_train_ability                 73
unit_order_drop_item                 288667
unit_order_give_item                 394631
unit_order_pickup_item               244658
unit_order_pickup_rune                74517
unit_order_purchase_item                 57
unit_order_sell_item                 111866
unit_order_disassemble_item          485446
unit_order_move_item                   4264
unit_order_cast_toggle_auto          463670
unit_order_stop                      412425
unit_order_taunt                     500000
unit_order_buyback                   352233
unit_order_glyph                     273230
unit_order_eject_item_from_stash     468736
unit_order_cast_rune                 499991
unit_order_ping_ability              160852
unit_order_move_to_direction         496449
unit_order_patrol                    500000
unit_order_vector_target_position    500000
unit_order_radar                     500000
unit_order_set_item_combine_lock     500000
unit_order_continue                  500000
dtype: int64


Die NA Werte sind nicht zu bereinigen, mit ihnen muss umgegangen werden.

In [42]:
print ("Na Werte \t" +  str(df_hero_names.isnull().sum()))

Na Werte 	name              0
hero_id           0
localized_name    0
dtype: int64

## Überprüfung auf Ausreiser

In [47]:
"""
# Visuelle Überprüfung auf Ausreißer mit Hilfe von Boxplots

# get numeric columns to check
cols = df_players.select_dtypes(include=[np.number]).columns
fig, axes = plt.subplots(nrows=len(cols), ncols=1)
# draw boxplot for each col ... need index to address axes
for i in range(len(cols)):
    sns.boxplot(x=cols[i], orient='h', data=df_players, ax=axes[i])
    fig.tight_layout()
    plt.show()

# improve spacing and show
fig.tight_layout()
plt.show()
"""

## Gibt es Helden die erfolgreicher sind als andere?

In [70]:
df_match_50000["radiant_win"] = df_match_50000.radiant_win.astype(int)
mat = df_match_50000.merge(df_match_50000,on='match_id').merge(df_players[df_players["player_slot"]<6],on='match_id')

In [119]:
# mat.groupby('hero_id').mean()['radiant_win_x']
df_gb_heroID = pd.DataFrame(mat.groupby('hero_id').mean()['radiant_win_x'], index=np.arange(113))
df_gb_heroID.columns =["winrate"]
df_gb_heroID["hero_id"] = np.arange(113)
df_gb_heroID.head()

    winrate  hero_id
0  0.136364        0
1  0.484149        1
2  0.454823        2
3  0.487500        3
4  0.469646        4

In [125]:
# df_hero_names =  df_hero_names.merge(df_hero_names,on='hero_id').merge(df_gb_heroID, on="hero_id" ) 
df_hero_names = df_hero_names.merge(df_gb_heroID, left_on='hero_id', right_on='hero_id', how='outer')

In [137]:
# df_hero_names.sort("winrate").plot.bar(x="localized_name", y="winrate")

sns.barplot(data=df_hero_names.sort("winrate"),x="localized_name", y="winrate",orient:"h")

SyntaxError: invalid syntax (<ipython-input-137-3ca1a11f3282>, line 3)