# Aufgabe 3

### Wie wirkt sich das Chatverhalten auf die Spielende aus?

#### Impotieren der Bibliotheken

In [91]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt
sns.set(context="paper", font="monospace")

### Funktionen

In [92]:
def ccc(crosstab):
    chi2 = stats.chi2_contingency(crosstab)[0]
    q = min(crosstab.shape)
    if q > 1:
        return np.sqrt(chi2 / (chi2 + crosstab.values.sum())) * np.sqrt(q / (q-1))
    else:
        return 0

#### Einlesen der Dateien

In [93]:
chat = pd.read_csv('data/chat.csv')
chat.head()

   match_id            key  slot  time       unit
0         0       force it     6    -8  6k Slayer
1         0  space created     1     5     Monkey
2         0            hah     1     6     Monkey
3         0         ez 500     6     9  6k Slayer
4         0       mvp ulti     4   934       Kira

In [94]:
match = pd.read_csv('data/match.csv')
match.head()

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

#### Datens√§tze beschreiben.

In [95]:
match.describe(include='all')

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
count,50000.000000,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000,50000.000000,50000.000000,50000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25943,NaN,NaN,NaN
mean,24999.500000,1.447573e+09,2476.453500,1000.016440,935.250060,34.529460,34.77526,93.825520,21.468000,NaN,0.015480,0.036820,142.304720
std,14433.901067,1.485270e+05,634.631261,948.211846,937.974714,29.209672,29.73214,92.648332,3.218258,NaN,0.364696,0.871068,25.156608
min,0.000000,1.446750e+09,59.000000,0.000000,0.000000,0.000000,0.00000,0.000000,2.000000,NaN,0.000000,0.000000,111.000000
25%,12499.750000,1.447456e+09,2029.000000,0.000000,0.000000,0.000000,0.00000,9.000000,22.000000,NaN,0.000000,0.000000,123.000000
50%,24999.500000,1.447577e+09,2415.000000,1536.000000,384.000000,51.000000,51.00000,77.000000,22.000000,NaN,0.000000,0.000000,133.000000
75%,37499.250000,1.447700e+09,2872.000000,1974.000000,1972.000000,63.000000,63.00000,144.000000,22.000000,NaN,0.000000,0.000000,154.000000
max,49999.000000,1.447829e+09,16037.000000,2047.000000,2047.000000,63.000000,63.00000,831.000000,22.000000,NaN,47.000000,80.000000,242.000000

In [96]:
chat.describe(include='all')

            match_id      key          slot          time       unit
count   1.439488e+06  1439475  1.439488e+06  1.439488e+06    1439453
unique           NaN   690815           NaN           NaN     177992
top              NaN       gg           NaN           NaN  Deez_Nuts
freq             NaN    65412           NaN           NaN       1507
mean    2.495673e+04      NaN  4.493948e+00  1.708153e+03        NaN
std     1.457124e+04      NaN  2.877044e+00  9.868280e+02        NaN
min     0.000000e+00      NaN -9.000000e+00 -9.070000e+02        NaN
25%     1.227900e+04      NaN  2.000000e+00  1.020000e+03        NaN
50%     2.483900e+04      NaN  5.000000e+00  1.776000e+03        NaN
75%     3.767800e+04      NaN  7.000000e+00  2.386000e+03        NaN
max     4.999900e+04      NaN  9.000000e+00  1.605700e+04        NaN

### Die f√ºr uns nicht notwendigen Spalten aus Dataframe Match entfernen.

In [97]:
match = match.drop(['start_time', 'tower_status_radiant', 'tower_status_dire', 'barracks_status_radiant', 'barracks_status_dire', 'first_blood_time', 'game_mode', 'negative_votes', 'positive_votes', 'cluster'], axis=1)

In [98]:
match.head()

   match_id  duration radiant_win
0         0      2375        True
1         1      2582       False
2         2      2716       False
3         3      3085       False
4         4      1887        True

### Hinzuf√ºgen der f√ºr uns relevanten Daten.

In [99]:
match.columns = ['match_id','Spieldauer','Gewinner']
match['Gewinner'] = match['Gewinner'].map(lambda x: 'Radiant' if x else 'Dire')
match.head()
#Gesamtanzahl an Chatzeichen w√§hrend des Spiels 
#match['Gesamtzeichen'] = chat[['match_id', 'nachl√§nge']].groupby('match_id').sum()
#Wie viel wird insgesamt gechattet
#match ['chatvolumen'] = chat['match_id'].value_counts()
#Anzahl der 
#match['Anzahl'] = chat[['match_id', 'nachl√§nge']].groupby('match_id').count()
#Durchschnittliche Nachrichtenl√§nge
#match ['durchl√§'] = chat['nachl√§nge'] / match['Anzahl']
#Spiell√§nge
#match ['Spiell√§nge'] = match['duration']
#match.head()

   match_id  Spieldauer Gewinner
0         0        2375  Radiant
1         1        2582     Dire
2         2        2716     Dire
3         3        3085     Dire
4         4        1887  Radiant

In [100]:
# Nachrichtenl√§nge f√ºr jede Nachricht
chat['NachrichtenL√§nge'] = chat['key'].str.len()
# Zuweisung Team abh√§ngig vom Spieler-Slot
chat['Team'] = pd.cut(chat['slot'],[0,5,10],labels=['Radiant', 'Dire'])
chat.head()

   match_id            key  slot  time       unit  NachrichtenL√§nge     Team
0         0       force it     6    -8  6k Slayer               8.0     Dire
1         0  space created     1     5     Monkey              13.0  Radiant
2         0            hah     1     6     Monkey               3.0  Radiant
3         0         ez 500     6     9  6k Slayer               6.0     Dire
4         0       mvp ulti     4   934       Kira               8.0  Radiant

In [101]:
# Gruppierter Datensatz Chat nach Match und Team
groupedchat = chat[['match_id', 'Team', 'key']].groupby(['match_id', 'Team']).count()
groupedchat.columns = ['AnzahlNachrichten']
# Gesamte Nachrichtenl√§nge im Team in diesem Spiel
groupedchat['NachrichtenL√§ngeGesamt'] = chat[['match_id', 'Team', 'NachrichtenL√§nge']].groupby(['match_id', 'Team']).sum()
groupedchat.head()

                  AnzahlNachrichten  NachrichtenL√§ngeGesamt
match_id Team
0        Radiant               19.0                   117.0
         Dire                  28.0                   352.0
1        Radiant               12.0                   102.0
         Dire                   4.0                    32.0
2        Radiant               18.0                   167.0

In [102]:
groupedchat['DurchchschnittlicheL√§nge'] = groupedchat['NachrichtenL√§ngeGesamt']/groupedchat['AnzahlNachrichten']
groupedchat['match_id'] = [x[0] for x in list(groupedchat.index.values)]
groupedchat['Team'] = [x[1] for x in list(groupedchat.index.values)]
groupedchat = groupedchat.merge(match, on='match_id')
#Erstellen Nachriten pro Minute
groupedchat['NachrichtenProMinute'] = groupedchat['AnzahlNachrichten']/ (groupedchat['Spieldauer']/60)
# Erstellen Spieldauerbereiche
groupedchat['SpieldauerBereiche'] = pd.cut(groupedchat['Spieldauer'],[x*300 for x in range(21)], labels=[(x+1)*5 for x in range(20)])
#Erstellen getrennter Tabellen (Win/Lose)
groupedchat_win = groupedchat[groupedchat['Team']==groupedchat['Gewinner']]
groupedchat_lose = groupedchat[groupedchat['Team']!=groupedchat['Gewinner']]
#groupedchat_win.drop('Team',axis=1, inplace=True)
#groupedchat_lose.drop('rad_win',axis=1, inplace=True)
print(groupedchat.head())
print(groupedchat_win.head())
print(groupedchat_lose.head())

   AnzahlNachrichten  NachrichtenL√§ngeGesamt  DurchchschnittlicheL√§nge  \
0               19.0                   117.0                  6.157895
1               28.0                   352.0                 12.571429
2               12.0                   102.0                  8.500000
3                4.0                    32.0                  8.000000
4               18.0                   167.0                  9.277778

   match_id     Team  Spieldauer Gewinner  NachrichtenProMinute  \
0         0  Radiant        2375  Radiant              0.480000
1         0     Dire        2375  Radiant              0.707368
2         1  Radiant        2582     Dire              0.278854
3         1     Dire        2582     Dire              0.092951
4         2  Radiant        2716     Dire              0.397644

  SpieldauerBereiche
0                 40
1                 40
2                 45
3                 45
4                 50
   AnzahlNachrichten  NachrichtenL√§ngeGesamt  DurchchschnittlicheL√§nge  \
0               19.0                   117.0                  6.157895
3                4.0                    32.0                  8.000000
5                6.0                    77.0                 12.833333
7               13.0                   113.0                  8.692308
8                3.0                    13.0                  4.333333

   match_id     Team  Spieldauer Gewinner  NachrichtenProMinute  \
0         0  Radiant        2375  Radiant              0.480000
3         1     Dire        2582     Dire              0.092951
5         2     Dire        2716     Dire              0.132548
7         3     Dire        3085     Dire              0.252836
8         4  Radiant        1887  Radiant              0.095390

  SpieldauerBereiche
0                 40
3                 45
5                 50
7                 55
8                 35
   AnzahlNachrichten  NachrichtenL√§ngeGesamt  DurchchschnittlicheL√§nge  \
1               28.0                   352.0                 12.571429
2               12.0                   102.0                  8.500000
4               18.0                   167.0                  9.277778
6               12.0                    81.0                  6.750000
9                4.0                    36.0                  9.000000

   match_id     Team  Spieldauer Gewinner  NachrichtenProMinute  \
1         0     Dire        2375  Radiant              0.707368
2         1  Radiant        2582     Dire              0.278854
4         2  Radiant        2716     Dire              0.397644
6         3  Radiant        3085     Dire              0.233387
9         4     Dire        1887  Radiant              0.127186

  SpieldauerBereiche
1                 40
2                 45
4                 50
6                 55
9                 35

In [103]:
# Erstellen Nachrichten pro Minute
groupedchat_win['NachrichtenProMinute'] = groupedchat_win['AnzahlNachrichten']/ (groupedchat_win['Spieldauer']/60)
groupedchat_lose['NachrichtenProMinute'] = groupedchat_lose['AnzahlNachrichten']/ (groupedchat_lose['Spieldauer']/60)
# Erstellen Spieldauerbereiche
groupedchat_win['SpieldauerBereiche'] = pd.cut(groupedchat_win['Spieldauer'],[x*300 for x in range(21)], labels=[(x+1)*5 for x in range(20)])
groupedchat_lose['SpieldauerBereiche'] = pd.cut(groupedchat_lose['Spieldauer'],[x*300 for x in range(21)], labels=[(x+1)*5 for x in range(20)])
print("WIN only")
print(groupedchat_win.head())
print("LOSE only")
print(groupedchat_lose.head())

C:\Users\Yvii\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app
C:\Users\Yvii\Anaconda3\lib\site-packages\ipykernel\__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()
C:\Users\Yvii\Anaconda3\lib\site-packages\ipykernel\__main__.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
C:\Users\Yvii\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

WIN only
   AnzahlNachrichten  NachrichtenL√§ngeGesamt  DurchchschnittlicheL√§nge  \
0               19.0                   117.0                  6.157895
3                4.0                    32.0                  8.000000
5                6.0                    77.0                 12.833333
7               13.0                   113.0                  8.692308
8                3.0                    13.0                  4.333333

   match_id     Team  Spieldauer Gewinner  NachrichtenProMinute  \
0         0  Radiant        2375  Radiant              0.480000
3         1     Dire        2582     Dire              0.092951
5         2     Dire        2716     Dire              0.132548
7         3     Dire        3085     Dire              0.252836
8         4  Radiant        1887  Radiant              0.095390

  SpieldauerBereiche
0                 40
3                 45
5                 50
7                 55
8                 35
LOSE only
   AnzahlNachrichten  NachrichtenL√§ngeGesamt  DurchchschnittlicheL√§nge  \
1               28.0                   352.0                 12.571429
2               12.0                   102.0                  8.500000
4               18.0                   167.0                  9.277778
6               12.0                    81.0                  6.750000
9                4.0                    36.0                  9.000000

   match_id     Team  Spieldauer Gewinner  NachrichtenProMinute  \
1         0     Dire        2375  Radiant              0.707368
2         1  Radiant        2582     Dire              0.278854
4         2  Radiant        2716     Dire              0.397644
6         3  Radiant        3085     Dire              0.233387
9         4     Dire        1887  Radiant              0.127186

  SpieldauerBereiche
1                 40
2                 45
4                 50
6                 55
9                 35

### Zusammenhang zwischen der Laufzeit und des Chatvolumens mit Hilfe des korrigierten Kontigenz Koeffizienz.

### Zusammenhangsma√ü

#### Zusammenhang zwischen den Nachrichten pro Minute und dem Gewinner.

In [104]:
ccc(pd.crosstab(groupedchat_win['Team'],groupedchat_win['NachrichtenProMinute']))

0.86730638386026027

#### Zusammnehang zwischen den Nachrichten pro Minute und dem Verlierer.

In [105]:
ccc(pd.crosstab(groupedchat_lose['Team'],groupedchat_lose['NachrichtenProMinute']))

0.86828658610685083

** Interpretation: ** Es besteht ein starker Zusammenhang zwischen den Nachrichten pro Minute und dem Ausgang des Spiels. Gilt sowohl f√ºr Gewinner als auch Verlierer.

### Korrelation

#### Korrelation zwischen den Nachrichten pro Minute und dem Gewinner.

In [106]:
corrtab = groupedchat_win[['Team', 'NachrichtenProMinute']]
corrtab['Team'] = corrtab['Team'].map(lambda x: 0 if x == 'Radiant' else 1)
corrtab.corr()

C:\Users\Yvii\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                          Team  NachrichtenProMinute
Team                  1.000000             -0.099684
NachrichtenProMinute -0.099684              1.000000

#### Korrelation zwischen den Nachrichten pro Minute und dem Verlierer.

In [107]:
corrtab = groupedchat_lose[['Team', 'NachrichtenProMinute']]
corrtab['Team'] = corrtab['Team'].map(lambda x: 0 if x == 'Radiant' else 1)
corrtab.corr()

C:\Users\Yvii\Anaconda3\lib\site-packages\ipykernel\__main__.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  from ipykernel import kernelapp as app

                         Team  NachrichtenProMinute
Team                  1.00000              -0.07467
NachrichtenProMinute -0.07467               1.00000

** Interpretation: ** Es besteht kaum eine Korrelation zwischen den geschriebenen Nachrichten und dem Ausgang des Spiels.

### Visualisierung

In [110]:
quantile = groupedchat.NachrichtenProMinute.quantile(q=[x/10 for x in range(0,11)])
quantile

0.0    0.012203
0.1    0.054299
0.2    0.090000
0.3    0.127932
0.4    0.170891
0.5    0.220690
0.6    0.284475
0.7    0.370761
0.8    0.502195
0.9    0.762712
1.0    8.077900
Name: NachrichtenProMinute, dtype: float64

In [115]:
groupedchat['BereicheNachrichtenProMinute'] = pd.cut(groupedchat['NachrichtenProMinute'] , quantile, labels = quantile.values[1:])
groupedchat.head()
groupedquantile = groupedchat[['BereicheNachrichtenProMinute', 'Team']].replace({'Team':{'Radiant':0,'Dire':1}}).groupby('BereicheNachrichtenProMinute').sum()
groupedquantile.head()

                              Team
BereicheNachrichtenProMinute
0.054299                      5697
0.090000                      5339
0.127932                      5031
0.170891                      4977
0.220690                      4766

#### Visualisierung des Zusammenhangs zwischen der Laufzeit und des Chatvolumens.

In [ ]:
a = sns.stripplot(x='duration', y='chatvolumen', data =match) #point

In [ ]:
#sns.stripplot(x='', y='', data='groupedchat')

#### Zusammenhang zwischen der Laufzeit in Minuten und der geschriebenen Nachrichten pro Minute.

In [ ]:
#Massages pro Minute 
mpm = match['chatvolumen'] / (match['duration']/60)
mpm.head()

In [ ]:
ccc(pd.crosstab((match['duration']/60), [mpm]))

** Interpretation: ** Laut des korrigierten Kontigenze Koeffizienten besteht ein sehr starker Zusammenhang zwischen der Laufzeit und dem Chatvolumen, das hei√üt die Merkmale sind nicht unabh√§ngig voneinander.

#### Durchschnittliche Nachrichten pro Minute

In [ ]:
durchnach = mpm.mean(axis=0)
durchnach

#### Analyse des Zusammenhangs zwischen den geschriebenen Nachrichten pro Minute und dem Spielende mit Hilfe des Korrigierten Kontigenzkoefzient.

In [ ]:
p = match['duration']/60
ccc(pd.crosstab(match['radiant_win'],[p]))

** Interpretation: ** Laut des korrigierten Kontigenze Koeffizienten besteht kein Zusammenhang zwischen dem Chatvolumen und der Gewinnergebniss.

#### Bewertung der individuellen Einfl√ºsse von der Laufzeit und der geschriebenen Nachrichten pro Minute auf das Spielende mit Hilfe der im DataFrame integrierten Funktion *corr()*!

In [ ]:
Bewertung des individuellen Einfl√ºsses von der Laufzeit auf das Chatvolumen mit Hilfe der im DataFrame integrierten Funktion *corr()*!

In [ ]:
groupedchat['nachpromin'] =

In [ ]:
match[['radiant_win', 'duration', 'nachpromin']].corr()

** Interpretation: **

#### Ermittlung wie oft das Wort GG im Chatverlauf verwendet wurde

In [ ]:
gg = chat['match_id'].value_counts('gg' and 'good game' and 'GG' and 'Good Game')#vllt mit lower noch
gg.head()

#### Hat das W√ºnschen eines guten Spiels Einfluss auf das Spielende?

In [ ]:
ccc(pd.crosstab(match['radiant_win'], [gg]))

In [ ]:
#### Neue Spalte GG in DataFrame 'match' einf√ºgen.

In [ ]:
match['gg'] = gg

In [ ]:
#√úberpr√ºfen 
match.head()

** Interpretation: ** Das W√ºnschen eines guten Spiels hat kein Einfluss auf das Spielende.

In [ ]:
match[['radiant_win','gg']].corr()