# Aufgabe 3

### Wie wirkt sich das Chatverhalten auf die Spielende aus?

#### Impotieren der Bibliotheken

In [18]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import seaborn as sns

%matplotlib inline
import matplotlib.pyplot as plt
sns.set(context="paper", font="monospace")

#### Einlesen der Dateien

In [19]:
chat = pd.read_csv('data/chat.csv')
chat.head()

   match_id            key  slot  time       unit
0         0       force it     6    -8  6k Slayer
1         0  space created     1     5     Monkey
2         0            hah     1     6     Monkey
3         0         ez 500     6     9  6k Slayer
4         0       mvp ulti     4   934       Kira

In [20]:
match = pd.read_csv('data/match.csv')
match.head()

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
0,0,1446750112,2375,1982,4,3,63,1,22,True,0,1,155
1,1,1446753078,2582,0,1846,63,0,221,22,False,0,2,154
2,2,1446764586,2716,256,1972,63,48,190,22,False,0,0,132
3,3,1446765723,3085,4,1924,51,3,40,22,False,0,0,191
4,4,1446796385,1887,2047,0,0,63,58,22,True,0,0,156

#### Datensätze beschreiben.

In [36]:
match.describe(include='all')

,match_id,start_time,duration,tower_status_radiant,tower_status_dire,barracks_status_dire,barracks_status_radiant,first_blood_time,game_mode,radiant_win,negative_votes,positive_votes,cluster
count,50000.000000,5.000000e+04,50000.000000,50000.000000,50000.000000,50000.000000,50000.00000,50000.000000,50000.000000,50000,50000.000000,50000.000000,50000.000000
unique,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2,NaN,NaN,NaN
top,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,NaN,NaN
freq,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,25943,NaN,NaN,NaN
mean,24999.500000,1.447573e+09,2476.453500,1000.016440,935.250060,34.529460,34.77526,93.825520,21.468000,NaN,0.015480,0.036820,142.304720
std,14433.901067,1.485270e+05,634.631261,948.211846,937.974714,29.209672,29.73214,92.648332,3.218258,NaN,0.364696,0.871068,25.156608
min,0.000000,1.446750e+09,59.000000,0.000000,0.000000,0.000000,0.00000,0.000000,2.000000,NaN,0.000000,0.000000,111.000000
25%,12499.750000,1.447456e+09,2029.000000,0.000000,0.000000,0.000000,0.00000,9.000000,22.000000,NaN,0.000000,0.000000,123.000000
50%,24999.500000,1.447577e+09,2415.000000,1536.000000,384.000000,51.000000,51.00000,77.000000,22.000000,NaN,0.000000,0.000000,133.000000
75%,37499.250000,1.447700e+09,2872.000000,1974.000000,1972.000000,63.000000,63.00000,144.000000,22.000000,NaN,0.000000,0.000000,154.000000
max,49999.000000,1.447829e+09,16037.000000,2047.000000,2047.000000,63.000000,63.00000,831.000000,22.000000,NaN,47.000000,80.000000,242.000000

In [37]:
chat.describe(include='all')

            match_id      key          slot          time       unit
count   1.439488e+06  1439475  1.439488e+06  1.439488e+06    1439453
unique           NaN   690815           NaN           NaN     177992
top              NaN       gg           NaN           NaN  Deez_Nuts
freq             NaN    65412           NaN           NaN       1507
mean    2.495673e+04      NaN  4.493948e+00  1.708153e+03        NaN
std     1.457124e+04      NaN  2.877044e+00  9.868280e+02        NaN
min     0.000000e+00      NaN -9.000000e+00 -9.070000e+02        NaN
25%     1.227900e+04      NaN  2.000000e+00  1.020000e+03        NaN
50%     2.483900e+04      NaN  5.000000e+00  1.776000e+03        NaN
75%     3.767800e+04      NaN  7.000000e+00  2.386000e+03        NaN
max     4.999900e+04      NaN  9.000000e+00  1.605700e+04        NaN

#### Wie viel wird insgesamt gechattet?

In [21]:
chatvolumen = chat['match_id'].value_counts().head()
chatvolumen

14986    449
9946     417
34964    414
43821    412
35258    403
Name: match_id, dtype: int64

#### Händischer Vergleich mit dem Datensatz.

In [23]:
chatvolumen = chat['match_id'].value_counts()
chatvolumen[0]

51

#### Visuelle Untersuchung der Zusammenhänge der numerischen Merkmale mit dem Chatvolumen

In [ ]:
chatvolumen = chat['match_id'].value_counts()
sns.pairplot(chat, hue='chatvolumen')

In [ ]:
sns.pairplot(chat, hue='match_id')

#### Zusammenhang der Laufzeit und des Chatvolumens.

In [24]:
def ccc(crosstab):
    chi2 = stats.chi2_contingency(crosstab)[0]
    q = min(crosstab.shape)
    if q > 1:
        return np.sqrt(chi2 / (chi2 + crosstab.values.sum())) * np.sqrt(q / (q-1))
    else:
        return 0

In [58]:
ccc(pd.crosstab(match['duration'], [chatvolumen]))

0.98355187397586674

** Interpretation: ** Das Ergebnis ist sehr ungenau, da in einer längeren Spielzeit mehr gesprochen werden kann wie in einer kürzeren Spiellänge. Daher ist es besser mit relativen Werten zu rechnen.

#### Zusammenhang zwischen der Laufzeit in Minuten und des relativen Werten des Chatvolumens (geschriebenen Nachrichten pro Minute).

In [25]:
#laufzeit in minuten
laufzeitm = match['duration']/60
laufzeitm.head()

0    39.583333
1    43.033333
2    45.266667
3    51.416667
4    31.450000
Name: duration, dtype: float64

In [26]:
#Relative Werte des des Chatvolumens (der geschriebenen Nachrichten)
rela = chatvolumen / laufzeitm
rela.head()

0    1.288421
1    0.371805
2    0.994109
3    0.486224
4    0.222576
dtype: float64

In [27]:
ccc(pd.crosstab([laufzeitm], [rela]))

0.99997961152102011

** Interpretation: ** Laut des korrigierten Kontigenze Koeffizienten besteht ein sehr starker Zusammenhang zwischen der Laufzeit und dem Chatvolumen.

#### Visualisierung des Zusammenhangs der Laufzeit und des Chatvolumens.

In [69]:
#chatvolumen = chat['match_id'].value_counts()
#crosstabplot(pd.crosstab(match['duration'], chatvolumen))
#sns.lmplot(laufzeitm , chatvolumen, data=match, hue='radiant_win', fit_reg=False)

In [71]:
#fg = sns.FacetGrid(data=match, hue='radiant_win', size=5)
#fg.map(plt.scatter, chatvolumen, laufzeitm).add_legend();

#### Geschriebene Nachrichten pro Minute

In [28]:
#nachrichten / laufzeit des Spiels 
laufzeitm = match['duration']/60
laufzeitm.head()

0    39.583333
1    43.033333
2    45.266667
3    51.416667
4    31.450000
Name: duration, dtype: float64

In [30]:
chatvolumen = chat['match_id'].value_counts()
chatvolumen.head()

14986    449
9946     417
34964    414
43821    412
35258    403
Name: match_id, dtype: int64

In [49]:
### geschrieben Nachrichten 
pro = chatvolumen / laufzeitm
pro

0        1.288421
1        0.371805
2        0.994109
3        0.486224
4        0.222576
5        0.190597
6        0.508475
7        0.670103
8        1.648352
9        1.175279
10       0.384123
11       0.274390
12       0.435544
13       0.562806
14       0.416667
15       0.326714
16       0.542495
17       0.489731
18       1.127660
19       0.161146
20       0.604203
21       0.891530
22       0.784314
23       0.371991
24       0.462157
25       0.740741
26       0.560374
27       0.482042
28       0.517946
29       1.629280
           ...
49970    0.935944
49971    0.619469
49972    0.321285
49973    0.632644
49974    0.592441
49975    0.808175
49976    2.260991
49977    1.180173
49978    1.254705
49979    0.757180
49980    1.091703
49981    0.342255
49982    1.297193
49983    0.425997
49984    0.234032
49985    0.092688
49986    0.843332
49987    0.268371
49988    0.367232
49989    4.395887
49990    0.787709
49991    0.291363
49992    0.265907
49993    1.145228
49994    0.984733
49995    0.495868
49996    0.206754
49997    0.157186
49998    0.678426
49999    0.731707
dtype: float64

#### Durchschnittliche Nachrichten pro Minute

In [48]:
mw = pro.mean(axis=0)
mw

0.7427158100965271

#### Analyse des Zusammenhangs zwischen den geschriebenen Nachrichten pro Minute und dem Spielgewinn mit Hilfe des Korrigierten Kontigenzkoefzient.

In [34]:
#Berechnung des korrigierten Kontigenzkoeffizient 
###def ccc(crosstab):
 ##   chi2 = stats.chi2_contingency(crosstab)[0]
   # q = min(crosstab.shape)
  # # if q > 1:
    #    return np.sqrt(chi2 / (chi2 + crosstab.values.sum())) * np.sqrt(q / (q-1))
    #else:
     #   return 0

In [47]:
ccc(pd.crosstab(['radiant_win'],[pro]))

0

** Interpretation: ** Laut des korrigierten Kontigenze Koeffizienten besteht kein Zusammenhang zwischen dem Chatvolumen und der Gewinnergebniss.

In [ ]:
#vielleicht noch eine andere Methode umd den Zusammenhang zu ermitteln

#### Ermittlung wie oft das Wort G

In [6]:
gg = chat['match_id'].value_counts('gg' and 'good game' and 'GG' and 'Good Game')#vllt mit lower noch
gg.head()

14986    0.000312
9946     0.000290
34964    0.000288
43821    0.000286
35258    0.000280
Name: match_id, dtype: float64

In [12]:
ccc(pd.crosstab(['radiant_win'], [gg]))

0

** Interpretation: ** Das Wünschen eines guten Spiels hat kein Einfluss auf das Spielende.

In [14]:
match[['radiant_win'],[gg]].corr()

NameError: name 'match' is not defined